@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital@0;1&display=swap');
@import "compass/css3";

html {
	font-size: 10pt;
}

::selection {
	background: transparent;
}

.mapa-imagem {
	width: 100%;
	height: auto;
}

.mapa-estatico {
	font-family: "Fira Sans",sans-serif, "Arial" !important;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	max-width: 645px;
	display: block;
	border: 1px solid white;
}

.mapa-estatico * {
	right: min(3.5vw,20px);
}

.mapa-estatico .titulo-mapa {
	cursor: default;
	font-size: 9pt;
	font-size: clamp(0.6rem, 2vw, 1rem);
	position: absolute;
	text-align: right;
	top: min(2.6vw, 17px);
	white-space: normal !important;
	word-wrap: normal;
}

.mapa-estatico .titulo-mapa>.map-title {
	font-size: 18pt;
	font-size: clamp(1.1rem, 3.5vw, 1.8rem) !important;
	padding-top:6px;
	padding-top:clamp(0.25rem, 1vw, 0.5rem);
	display:block
}

.mapa-estatico .titulo-mapa>.map-note {
	margin-top: min(0.3vw,2px);
	word-wrap: break-word;
	max-width: min(50vw,250px);
	display: inline-block;
}

.mapa-estatico .metadados {
	cursor: default;
	position: absolute;
	display: block;
	text-align: right;
	font-size: 10px;
	font-size: clamp(0.5rem, 2vw, 0.9rem);
	color: gray;
	bottom: min(0.5vw,4px);
}

.mapa-estatico .legenda-mapa {
	cursor: default;
	position: absolute;
	white-space: nowrap;
	align-items: right;
	font-size: 11pt;
	font-size: clamp(0.6rem, 2.2vw, 1.1rem) !important;
	list-style: none;			
	text-align: right;
	vertical-align: center;
	bottom: 25px;
	bottom: min(max(1.2rem, 5vw),30px);
}

.legenda-mapa>* {
	white-space: normal !important;
	background-color: rgb(220,220,220,0.5);
	padding: min(0.5vw,3.2px) min(1vw,6px);
	word-wrap: normal;
	max-width: min(25vw,160px);
}

.legenda-mapa>.grupo {
	border-bottom: 1px solid black;
	background-color:transparent;
	margin-top:6px;
	margin-top:clamp(0.25rem, 1vw, 0.5rem);
}

.mapa-estatico .donwload {
	position: relative;
}

a.download {
	text-decoration: none;
	display: inline;
	padding: 0px 3px;
	margin-left: 2px;
	border-radius: 4px;
}

a.download:visited, a.download:link {
	text-decoration: none;
	border: 0.2px solid gray;
	color: gray;
}

a.download:hover {
	color:white;
	border: 0.2px solid #fc7e00;
	background-color:#fc7e00 !important;	
}

a.lab-link:visited, a.lab-link:link {
	color: gray;
}

a.lab-link:hover {
	color:#fc7e00;
}

.mapa-estatico .dot {
	margin-left: 2px;
	height: 10px;
	height:clamp(0.5rem, 1.5vw, 0.75rem);
	width: 10px;
	width: clamp(0.5rem, 1.5vw, 0.75rem);
	border-radius: 50%;
	border: 0.1px solid white;
	vertical-align: center;
	display: inline-block;
}

.mapa-estatico .square {
	margin-left: 2px;
	height: 10px;
	height:clamp(0.5rem, 1.5vw, 0.75rem);
	width: 10px;
	width: clamp(0.5rem, 1.5vw, 0.75rem);
	border: 0.1px solid white;
	vertical-align: center;
	display: inline-block;
}

#scrollmsg {
	position: absolute;
	white-space: nowrap;
	width:min-content;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	right: 0px !important;
	display: none;
	text-align: center;
	background-color: rgb(60,60,60,0.5);
	margin-top: min(1vw,6px);
	vertical-align: center;
	color: white;
	font-size: 11pt;
	font-size: clamp(1rem, 2.7vw, 1.2rem);
	border-radius: min(12px,2vw);
	padding: min(2vw,9px) min(3vw,13.5px);
	box-shadow: 0px 0px min(1vw,6px) white;
}

#scrolltxt {
	margin-left: min(0.5vw,3px);
	margin-right: min(1vw,6px);
}

#frameData {
	white-space: nowrap;
	position: absolute;
	right: 0px !important;
	left: 50%;
	top: 90%;
	transform: translate(-50%, -50%);
	max-width: min-content;
	background-color: rgb(255,255,255,0.5);
}

.frameChanger {
	cursor: pointer;
	display: none;
	position: absolute;
	top: 50%;
	line-height: 10px;
	line-height: clamp(1.2rem, 4vw, 2rem);
	height: 10px;
	height:clamp(1.2rem, 4vw, 2rem);
	width: 10px;
	width: clamp(1.2rem, 4vw, 2rem);
	text-align: center;

	color: white;
	background-color: rgb(252, 126, 0);
	border-radius: min(6px,1vw);

	font-size: 11pt;
	font-size: clamp(1rem, 2.7vw, 1.2rem);
	opacity: 50%;
}

#nextButton {
	right: min(0.8vw,4px) !important;
	transform: translate(140%, -50%);
}

#previousButton {
	left: min(0.8vw,4px) !important;
	right: 0px !important;
	transform: translate(-140%, -50%);
}

#nextButton:hover, #previousButton:hover {
	opacity: 100%;
}

#labelFrame {
	cursor: default;
	display: block;
	text-align: center;
	font-size: 11pt;
	font-size: clamp(0.9rem, 2.5vw, 1.35rem);
	text-shadow: 0px 0px 5px white;
	border: 0.1px solid rgb(60,60,60,0.7);
	border-radius: min(9px,1.5vw);
	padding: min(1vw,4.5px) min(2.5vw,11px);
	color: rgb(100,100,100);
}

.infoBalloon {
	cursor: default;
	min-width: min-content;
	margin-right: 0px;
	margin-left: auto;
	text-align: center !important;
	position: absolute;
	display: block;
	right: min(0.8vw,4px) !important;
	

	background-color: rgb(60,60,60);
	margin-top: min(1vw,6px);

	transform: translate(10%, -150%);
	color: white;
	font-size: 11pt;
	font-size: clamp(1rem, 2.7vw, 1.2rem);
	border-radius: min(12px,2vw) min(12px,2vw) 0px min(12px,2vw);
	padding: min(1vw,5px) min(2vw,10px);
	box-shadow: 0px 0px min(1vw,6px) white;

}

.triangle-down {
	position: absolute;
	width: 0;
	height: 0;
	right: 0px;
	vertical-align: center;
	transform: translate(0%, 20%);
	border-left: 10px solid transparent;
	border-right: 0px solid transparent;
	border-top: 10px solid rgb(60,60,60);
}